<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hydrasense">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" android:usesPermissionFlags="neverForLocation" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HydraSense"
        android:usesCleartextTraffic="true">
        
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterUser" />
        <activity android:name=".CardActivity" />
        <activity android:name=".PH_Readings" />
        <activity android:name=".User_Details" />
        <activity android:name=".Diagnostics" />
        <activity android:name=".Device" />
        <activity android:name=".Profile" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".AvatarPickerActivity" />
        <activity android:name=".FamilyActivity" />
        <activity android:name=".HydrationMeterActivity" />
        <activity android:name=".User" />
        
    </application>

</manifest>